# This workflow is primarily for use with https://github.com/nektos/act and has
# been tested using the full image (catthehacker/ubuntu:full-latest).
#
# Further documentation is in TESTING.md.
#
# TL;DR:
#   - Docker: `act --network default -W .github/workflows/system-tests.yml --job your-test`
#   - Podman: `act --network podman -W .github/workflows/system-tests.yml --job your-test`
#   Optionally start a standalone artifact server to deduplicate compilation between tests (see TESTING.md).
#
# ## Example test job
#
# ```yml
#   job-name:
#     name: Run tests with resolvers/nameservers
#     runs-on: ${{ matrix.os }}
#     strategy:
#       matrix:
#         os: [ubuntu-latest]
#         rust: [stable] # see build job
#     # env:
#     #   build-profile: release # uncomment this to run this test with a release build
#     steps:
#     # WARNING: You MUST checkout the repository otherwise subsequent 'uses'
#     # steps will fail to find the action.
#     - uses: actions/checkout@v4
#     - uses: ./.github/actions/prepare-systest-env
#     - uses: ./.github/actions/setup-and-start-cascade
#     - run: cascade --version
#     ### RUN YOUR TESTS HERE
#     # # Optional, the container gets cleaned up anyway (at least in act)
#     # - name: Stop the setup
#     #   run: integration-tests/scripts/manage-test-environment.sh stop
# ```

# GitHub Actions environment variables are documented at
# https://docs.github.com/en/actions/reference/workflows-and-actions/variables

name: System/Integration tests
on:
  # Triggering on PRs and arbitrary branch pushes is not enabled because most
  # of the time this expensive test suite should not be run. Using this
  # trigger allows explicitly running this test suite on a selected branch.
  workflow_dispatch:

env:
  # Set this assignment to your choosing to set the cargo build verbosity
  CARGO_TERM_VERBOSE: ${{ github.actor != 'nektos/act' }}
  # CARGO_TERM_VERBOSE: true
  build-profile: debug

defaults:
  run:
    # see: https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#defaultsrunshell
    shell: bash --noprofile --norc -eo pipefail -x {0}

jobs:
  test-release-version:
    name: Example test with prepare environment and cascade --version (release)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable] # see build job
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Prepare the system test environment
      uses: ./.github/actions/prepare-systest-env
      with:
    - run: cascade --version

  test-version:
    name: Example test with prepare environment and cascade --version (debug)
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable] # see build job
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/prepare-systest-env
    - run: cascade --version

  add-zone-query:
    name: Add a zone, query the published zone
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable] # see build job
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/tests/add-zone-query

  # Added for https://github.com/NLnetLabs/cascade/pull/398
  review-unsigned-zone:
    name: Add a zone, approve the unsigned zone, query the published zone
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable] # see build job
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/tests/review-unsigned-zone
