# This workflow is currently only for use with https://github.com/nektos/act
# via the `act-wrapper` script at the root of this repository, which creates
# a custom container with a freshly built cascade.
#
# Further documentation is in TESTING.md.
#
# TL;DR:
#   - Docker: `./act-wrapper --network default -W .github/workflows/system-tests.yml --job your-test`
#   - Podman: `./act-wrapper --network podman -W .github/workflows/system-tests.yml --job your-test`
#
# ## Example test job
#
# ```yml
#   job-name:
#     name: Name of this test
#     runs-on: ubuntu-latest
#     strategy:
#       matrix:
#         rust: [stable] # see build job
#     steps:
#     # WARNING: You MUST checkout the repository otherwise subsequent 'uses'
#     # steps will fail to find the action.
#     - uses: actions/checkout@v4
#     - uses: ./.github/actions/prepare-systest-env
#     - uses: ./.github/actions/setup-and-start-cascade
#     - run: cascade --version
#     ### RUN YOUR TESTS HERE
#     # # Optional, the container gets cleaned up anyway (at least in act)
#     # - name: Stop the setup
#     #   run: integration-tests/scripts/manage-test-environment.sh stop
# ```

# GitHub Actions environment variables are documented at
# https://docs.github.com/en/actions/reference/workflows-and-actions/variables

name: System/Integration tests
on:
  # Triggering on PRs and arbitrary branch pushes is not enabled because most
  # of the time this expensive test suite should not be run. Using this
  # trigger allows explicitly running this test suite on a selected branch.
  workflow_dispatch:

env:
  # Set this assignment to your choosing to set the cargo build verbosity
  CARGO_TERM_VERBOSE: ${{ github.actor != 'nektos/act' }}
  # CARGO_TERM_VERBOSE: true

defaults:
  run:
    # see: https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#defaultsrunshell
    shell: bash --noprofile --norc -eo pipefail -x {0}

jobs:
  test-release-version:
    name: Example test with prepare environment and cascade --version (release)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable] # see build job
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/prepare-systest-env
    - uses: ./.github/actions/set-build-profile
      with:
        build-profile: release
    - run: cascade --version
    - run: file $(which cascade)

  test-version:
    name: Example test with prepare environment and cascade --version (debug)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable] # see build job
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/prepare-systest-env
    - run: cascade --version
    - run: file $(which cascade)

  add-zone-query:
    name: Add a zone, query the published zone
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable] # see build job
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/tests/add-zone-query

  load-zonefile:
    name: Load a zone from a file, query the published zone
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      matrix:
        os: [ubuntu-latest]
        rust: [stable] # see build job
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Prepare the system test environment
        uses: ./.github/actions/prepare-systest-env
        with:
          artifact-name: ${{ format('cascade_{0}_{1}_{2}', github.sha, matrix.os, matrix.rust) }}
      - run: target/debug/cascade --version
      - name: Setup and start the cascade daemon
        uses: ./.github/actions/setup-and-start-cascade
      - name: Add a policy
        run: |
          # Based on actions/setup-and-start-cascade/, query the Cascade config
          # to find the policy directory, at least until we have a better way of
          # doing this.
          CASCADE_CONF="${GITHUB_WORKSPACE}/cascade-dir/config.toml"
          POLICY_DIR=$(grep -E '^policy-dir.*=' ${CASCADE_CONF} | cut -d '=' -f 2 | cut -d '"' -f 2)
          INTEGRATION_TEST_DIR="${PWD}/integration-tests/review-unsigned-zone"
          # Copy the new test policy into the Cascade policy directory.
          cp ${INTEGRATION_TEST_DIR}/policies/test.toml ${POLICY_DIR}/
          # Fix the path to the review hook specified in the new test policy.
          sed -i -e "s|<INTEGRATION_TEST_DIR>|${INTEGRATION_TEST_DIR}|" ${POLICY_DIR}/test.toml
          # Make sure our test hooks are executable.
          chmod +x ${INTEGRATION_TEST_DIR}/hooks/*
          # Tell Cascade to load our new test policy.
          target/debug/cascade policy reload
      - name: Make a zonefile
        run: |
          tee example.test.zone <<'EOF'
          $TTL 5 ; use a very short TTL for sped up keyset rolls
          example.test.   IN SOA ns1.example.test. mail.example.test. (
                             1          ; serial
                            60          ; refresh (60 seconds)
                            60          ; retry (60 seconds)
                          3600          ; expire (1 hour)
                             5          ; minimum (5 seconds)
                          )
          @           NS  example.test.
          @           NS  ns1.example.test.
          @           A   127.0.0.1
          ns1         A   127.0.0.1

          www         A   169.254.1.1
          mail        MX  10 example.test.
          text        TXT "Hello World!"
          EOF
      - name: Add a zone
        run: |
          target/debug/cascade zone add --policy test --source example.test.zone example.test
      - name: Check zone status
        run: |
          timeout=10 # seconds
          start=$(date +%s)
          until target/debug/cascade zone status example.test | grep -q "Published zone available"; do
            if (($(date +%s) > (start + timeout))); then
              echo "timeout: zone status did not report published zone available" >&2
              exit 1
            fi
            sleep 1
          done
      - name: Query zone
        run: |
          dig text.example.test TXT | grep "Hello World"
      - name: Print log files on any failure in this job
        uses: ./.github/actions/print-logfiles
        if: failure()

  # Added for https://github.com/NLnetLabs/cascade/pull/398
  review-unsigned-zone:
    name: Add a zone, approve the unsigned zone, query the published zone
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable] # see build job
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/tests/review-unsigned-zone
